<div class="row feed">
	<div id="loginBox" class="col-md-3 col-xs-4">
		<div class="well" ng-hide="currentUser">
			<div id="loginArea">
				<h3>Login</h3>
				<h6 class="text-danger" ng-show="failedAttempt">Invalid username or password</h6>
				<input class="input-block-level" type="text" placeholder="username" ng-model="username">
				<br>
				<input class="input-block-level" type="password" placeholder="password" ng-model="password">
				<br>
				<button id="signInButton" class="btn btn-default" ng-click="signIn()">Sign in</button>
				<br>
				<h6>Not a member?</h6>
				<a class="btn btn-default" href="#/signup" role="button">Sign up</a>
			</div>
		</div>
		<div class="well" ng-show="currentUser">
			<h3>Hello, {{ currentUser }}!</h3>
			<br>
			<a class="btn btn-default" ng-click="logout()">Log out</a>
		</div>
	</div>
	<div class="col-md-8 text-center col-xs-12">
		<div class="post-a-pic" ng-show="currentUser">
			<form class="form-group text-center">
				<h2>Post a pic</h2>
				<input id="pic-text-form" type="text" placeholder="Enter pic's name" ng-model="newPicName">
				<input id="img-url-form" type="text" placeholder="Enter image url" ng-model="newPic">
				<button class="btn btn-default" type="button" ng-click="submitPic()">Submit</button>
			</form>
		</div>
		<div class="picFeed well" ng-repeat="pic in pics">
			<div>
				<h3>{{ pic.name }}</h3>
				<img class="img-rounded img-responsive center-block" ng-src="{{ pic.imageAddress }}" height="300px" width="300px">
				<h6>Uploaded by: {{ pic.accountUsername }}</h6>
			</div>
			<button class="btn btn-default deleteButton" type="button" ng-show="showButton(pic)" ng-click="deletePic(pic)">delete</button>
		</div>
		<div>
			<button class="btn btn-default text-center" type="button" ng-click="goToTop()">Back to top</button>
		</div>
	</div>
	<div class="col-md-2 col-xs-0"></div>
</div>