<div class="row feed">
	<div class="col-md-2">
		<h4>Login</h4>
		<br>
		<input type="text" placeholder="username" ng-model="username">
		<br>
		<input type="password" placeholder="password" ng-model="password">
		<br>
		<button id="signInButton" class="btn" ng-click="signIn()">Sign in</button>
		<br>
		Not a member?
		<a class="btn" href="#/signup">Join</a>
	</div>
	<div class="col-md-8 text-center">
		<div class="new-waifu">
			<form class="form-group text-center">
				<h2>Post a waifu</h2>
				<input id="waifu-text-form" type="text" placeholder="Enter waifu's name" ng-model="newWaifuName">
				<input id="img-url-form" type="text" placeholder="Enter image address" ng-model="newWaifuPic">
				<button class="btn" type="button" ng-click="submitWaifu()">Submit</button>
			</form>
		</div>
		<div class="waifuFeed" ng-repeat="waifu in waifus">
			<div>
				<h3>{{ waifu.name }}</h3>
				<img class="img-rounded" ng-src="{{ waifu.imageAddress }}" height="300px" width="300px">
			</div>
			<button class="btn deleteButton" type="button" ng-click="deleteWaifu(waifu)">delete</button>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div height="300px"></div>